[koplenov_infinity_Pic] {
	margin: var(--mol_gap_block);
	flex: 1 1 auto;
	flex-direction: column;
	position: relative;
	aspect-ratio: 1;
	background-size: cover;
	border-radius: var(--mol_gap_round);
	overflow: hidden;
}
