[koplenov_infinity_marker_Selector] {
	width: 100%;
	height: 100%;
}

[mol_check_checked][id$="(\"for_merge\")"]{
	border:  4px ridge var(--mol_theme_special);
}
[mol_check_checked][id$="(\"for_delete\")"]{
	border:  4px ridge red;
}

[koplenov_infinity_marker_Pic]>[marked="for_merge"] {
	border:  10px ridge var(--mol_theme_special);
}
[koplenov_infinity_marker_Pic]>[marked="for_delete"] {
	border:  10px ridge red;
}
